@model IList<Financeiro.Entidades.Movimentacao>

@Html.ActionLink("Nova Movimentacao", "Form")

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Valor</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Usuario.nome</td>
                <td>@m.Valor</td>
                <td>@m.Tipo</td>
            </tr>
        }
    </tbody>
</table>